<header>
  <!-- Navbar -->
  <div class="nav">
    <nav class="navbar">
      <ul>
        <!-- <li>
          <a href=""><button class="button">FTR</button></a>
        </li> -->
        <li>
          <a href=""><button class="button">Services</button></a>
        </li>
        <li>
          <a href="#footer_about"><button class="button">About Us</button></a>
        </li>
        <div class="right">
          <li class="push-right">
            <a [routerLink]="['/login']" href=""
              ><button class="button">User</button></a
            >
          </li>
          <li class="push-right">
            <a [routerLink]="['/admin']" href=""
              ><button class="button">Admin</button></a
            >
          </li>
          <!-- <li class="push-right" [routerLink]='["/profile"]'><a href="">Register</a></li>
              <li class="push-right" [routerLink]='["/profile"]'><a href="">Existing User</a></li> -->
        </div>
      </ul>
    </nav>
  </div>

  <!-- Navbar -->

  <!--Section: Design Block-->
  <section>
    <!-- <div
      id="intro"
      class="bg-image"
      style=
        "background-image: url('https://img.freepik.com/free-photo/smart-indian-engineer-man-wearing-safety-helmet-doing-stock-tick-check-cardboard-stock-product-management-factory-warehouse-background_609648-1401.jpg?w=996&t=st=1663251442~exp=1663252042~hmac=e8c0d7ce08afbae18959725f202b9e5f3a4e4f2c262e62da7480a4b23b8202fa');
        height: 1vh;"
      
    ></div> -->
  </section>
  <!--Section: Design Block-->
</header>
<div class="section-background">
  <h2 style="text-align: center"  class="service">SERVICES</h2>
  <div class="section-first">
    <div class="section-first-elements" >
      <h4 class="service">FTR Facilities</h4>
      <p >
        Freight Transport Region application helps to manage the overall
        operation in Harbor.<br />
        Admin(Employees of FTR) and User(Vendor) can avail this application.
      </p>
    </div>
    <div>
      <h4 class="service">Admin Services</h4>
      <p>
        FTR Admin can manage the major details like<br />
        managing,loading and grouding operations,<br />
        drivers mapping for each vehicle, garbage collection and deallocation,
        permit barrier access for the vehicle and managing sensor details etc.
      </p>
    </div>
    <div>
      <h4 class="service">Customer Services</h4>
      <p>
        Customers can register with FTR and request for freight transport,
        includes the various user specific configurations<br />
        and it can be viewed using Operational Dashboard
      </p>
    </div>
  </div>
</div>
<div class="about-h">
  <h2 style="text-align: center"  class="service">ABOUT US</h2>
</div>
<div class="about">
  <p>
    FTR is one of the major sources in International trade,transfering large
    volumes of commodities Lorem ipsum, dolor sit amet consectetur adipisicing
    elit. Minus iure expedita accusantium quae hic molestias! Eligendi
    architecto praesentium iste. Earum numquam possimus veritatis tempora aut
    inventore, facere illum nulla cumque nostrum itaque ratione iusto rem id
    amet voluptates, temporibus quis cupiditate sit? Quae natus, nam
    exercitationem beatae ut dicta magni? Lorem ipsum dolor sit amet
    consectetur, usandae minus dolorum adipisci necessitatibus accusamus! Vero
    adipisci quos eos ducimus exercitationem magni inventore praesentium
    sapiente earum maxime dicta ratione tempore asperiores excepturi hic
    molestias quis odio tenetur eligendi quisquam alias nostrum, cum ab?
    Deleniti, eveniet molestiae. Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Natus delectus assumenda autem nihil mollitia illo illum
    ut voluptatem minima recusandae! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Officia consequatur fugiat impedit officiis, similique
    optio, eaque ipsum earum velit numqua
  </p>
  <img
    src="https://img.freepik.com/free-photo/smart-indian-engineer-man-wearing-safety-helmet-doing-stock-tick-check-cardboard-stock-product-management-factory-warehouse-background_609648-1401.jpg?w=996&t=st=1663251442~exp=1663252042~hmac=e8c0d7ce08afbae18959725f202b9e5f3a4e4f2c262e62da7480a4b23b8202fa"
    alt=" not  found"
  />
</div>
