.login{
  /* background-image: url("https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: aqua;
  
}
.main {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  position: relative
}
label {
  margin-bottom: 20px;
  font-weight: bold;
}

.container {
  margin-top: 80px;
  padding: 16px;
}

input {
  height: 35px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.submitbtn {
  background-color: rgb(8, 55, 73);
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: bolder;
}

.submitbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}

.signin {
  margin: 1px;
  text-align: center;
}

.buttondiv {
  /* display: flex; */
  width: 20%;
  margin-left: 40px;
  justify-content: space-between;
}

.loginButton{
  text-align: center;
}
